.DS_Store
node_modules
/dist
venv
.idea

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/package-lock.json
/service/api/__pycache__/*.pyc
/service/Hello_Django/__pycache__/*.pyc
/service/apps/__pycache__
/service/apps/api/migrations/__pycache__/*.pyc
/service/service/middleware/__pycache__/*.pyc
/service/service/__pycache__
/service/apps/authority/__pycache__
/service/apps/api/__pycache__
/service/logs/*.log
